body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
.squares{
    display: grid;
    width: 300px;
    gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
 
}
.square{
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-color: #294ea1;
    position: relative;
}

.nextPlayer, .winner{
    text-align: center;
    font-size: 1.3rem;
}

.over::after{
    content: '';
}

.X::after{
    content: 'X';
}

.O::after{
    content: 'O';
}

.X::after, .O::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-family: fantasy;
    color: #fefefa;
}